@model OnlineShop_4M_Models.ViewModels.ProductUserViewModel

<h1>Summary</h1>

<form>

    <h3>Данные заказчика</h3>

    <p>
        <label>Имя</label>
        <input type="text" class="form-control" asp-for="@Model.ApplicationUser.FullName" />
    </p>

    <p>
        <label>Телефон</label>
        <input type="text" class="form-control" asp-for="@Model.ApplicationUser.PhoneNumber" />
    </p>

    <p>
        <label>Email</label>
        <input type="text" class="form-control" asp-for="@Model.ApplicationUser.Email" />
    </p>

    <h3>Данные заказа</h3>

    @foreach (var item in Model.ProductList)
    {
        <p>
            <h5>Название продукта: @item.Name</h5>
            <small>Цена продукта: @item.Price</small>
        </p>
    }

    <p>
        <button type="submit" class="btn form-control btn-promary">Подтвердить заказ</button>
    </p>
</form>