@using OnlineShop_4M_Models

@model List<Category>

<h1>Категории</h1>

<p>
    <a class="btn btn-primary" asp-controller="Category" asp-action="Create">Создать категорию</a>
</p>

@if (Model.Count > 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Название категории</th>
                <th>Отображение</th>
                <th>Управление</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.DisplayOrder</td>
                    <td>
                        <a asp-controller="Category" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary">
                            Изменить
                        </a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger">
                            Удалить
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>
        Категории отсутствуют!
    </p>
}